<div class="container">
  <div class="row">
    <div class="col-9" *ngIf="ready">
      <h3>Suggested video</h3>
      <ul class="list-group">
        <div *ngFor="let video of homeVideo.getVideos(); let i = index" [attr.data-index]="i">
          <i  class="fas fa-user"
              [title]="video.getChannelUUId()"
              (click)="onChannelClick(video.getChannelUUId())"></i>
          <li class="list-group-item"
              style="border-radius: 4px;"
              alt="ciao"
              (click)="onVideoClick(video.getUUId(), i, video.getChannelUUId())">
              {{video.getTitle()}}
          </li>
          <div *ngIf="homeVideo.getVideoInfo(i)">
            <div class="videoStyle">
              <iframe
                width="560"
                height="315"
                style="padding: 0; margin: 0;"
                [src]="video.getDescription() | safe"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
              <div style="margin-bottom: 8px;">
                <i  [ngStyle]="{color: homeVideo.getLike(i)}"
                    class="fas fa-thumbs-up mr-4"
                    (click)="onLikeClick(homeVideo.getVideo(i).getUUId(), i)">
                </i>
                <button *ngIf="!homeVideo.getSubscribe(i)"
                        style="padding: 18px 32px; font-size: 16pt;"
                        type="button" class="btn btn-outline-danger"
                        [disabled]="homeVideo.getIsSubscribable(i)"
                        (click)="onSubscribeClick(video.getChannelUUId(), i)">Subscribe</button>
                <button *ngIf="homeVideo.getSubscribe(i)"
                        style="padding: 18px 32px; font-size: 16pt;"
                        type="button" class="btn btn-outline-danger"
                        [disabled]="homeVideo.getIsSubscribable(i)"
                        (click)="onSubscribeClick(video.getChannelUUId(), i)">Unsubscribe</button>
              </div>
              <input type="text" style="display: inline-block;" class="form-control w-50" placeholder="Comment" [(ngModel)]="homeVideo.getComments()[i]">
              <input  class="btn btn-outline-primary btn-lg mb-1"
                      type="button"
                      value="Save"
                      (click)="onCommentSave(homeVideo.getVideo(i).getUUId(), i)">
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-3 text-center">
      <h5>Advertisements</h5>
      <div>
        <img src="../../assets/adsPlaceholder.jpg" class="img-thumbnail mb-5">
        <img src="../../assets/adsPlaceholder.jpg" class="img-thumbnail">
      </div>
    </div>
  </div>
</div>
