<div class="backdrop"></div>
<div class="win-box">
  <p *ngIf="isLoading">Loading...</p>
  <div class="text-center">
    <h3>Login</h3>
  </div>
  <div>
    <div class="form-group">
      <input class="form-control input-md"
      type="text"
      style="width: 80%"
      [(ngModel)]="username"
      (keydown.enter)="onLogin()"
      (keydown.esc)="onCancelClick()"
      autofocus placeholder="Username">
    </div>
    <div class="form-group">
      <input class="form-control input-md"
      type="password"
      style="width: 80%"
      [(ngModel)]="password"
      (keydown.enter)="onLogin()"
      (keydown.esc)="onCancelClick()"
      autofocus placeholder="Password">
    </div>
    <div>
      <button type="submit" class="btn btn-primary mr-2" (click)="onLogin()">Login</button>
      <button class="btn btn-danger" (click)="onCancelClick()">Cancel</button>
    </div>
  </div>
</div>

