<div class="container">
  <div class="row">
    <div class="col" *ngIf="ready">
      <h3>Related video</h3>
      <ul class="list-group">
        <div *ngFor="let video of searchedVideo.getVideos(); let i = index" [attr.data-index]="i">
          <i class="fas fa-user" title="View the user channel" (click)="onChannelClick(video.getChannelUUId())"></i>
          <li class="list-group-item mr-2"
              style="display: inline-block; width: 40vw;"
              alt="ciao"
              (click)="onSelectVideo(video.getUUId(), i)">
              {{video.getTitle()}}
          </li>
          <div *ngIf="searchedVideo.getVideoInfo(i)">
            <div class="videoStyle">
              <img  src="../../assets/video.jpeg"
                    class="img-fluid"
                    [title]="video.getDescription()">
                <div>
                  <i  [ngStyle]="{color: searchedVideo.getLike(i)}"
                      class="fas fa-thumbs-up mr-4"
                      (click)="onLikeClick(i)"></i>
                  <button *ngIf="!searchedVideo.getSubscribe(i)" style="padding: 18px 32px; font-size: 16pt;"  type="button" class="btn btn-outline-danger">Subscribe</button>
                  <button *ngIf="searchedVideo.getSubscribe(i)"style="padding: 18px 32px; font-size: 16pt;"  type="button" class="btn btn-outline-danger">Unsubscribe</button>
                </div>
                <input type="text" style="display: inline-block;" class="form-control w-50" placeholder="Comment" [(ngModel)]="searchedVideo.getComments()[i]">
                <input  class="btn btn-outline-primary btn-lg mb-1"
                        type="button"
                        value="Save"
                        (click)="onCommentSave(i)">
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-4 text-center">
    </div>
  </div>
</div>
