<div class="container">
  <div class="row">
    <div class="col" *ngIf="ready">
      <h3>Search results</h3>
      <hr *ngIf="searchedVideo.getVideos().length == 0" style="margin-right: 10%; margin-bottom: 0px;">
      <p *ngIf="searchedVideo.getVideos().length == 0">
        No video matches the query
      </p>
      <ul class="list-group">
        <div *ngFor="let video of searchedVideo.getVideos(); let i = index" [attr.data-index]="i">
          <i class="fas fa-user" [title]="video.getChannelName()" (click)="onChannelClick(video.getChannelUUId())"></i>
          <li class="list-group-item mr-2"
              style="border-radius: 4px;"
              alt="ciao"
              (click)="onVideoClick(video.getUUId(), i, video.getChannelUUId())">
              {{video.getTitle()}}
          </li>
          <div *ngIf="searchedVideo.getVideoInfo(i)">
            <div class="videoStyle">
              <iframe
                width="560"
                height="315"
                style="padding: 0; margin: 0;"
                [src]="video.getDescription() | safe"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
              <div style="margin-bottom: 8px;">
                <i  [ngStyle]="{color: searchedVideo.getLike(i)}"
                    class="fas fa-thumbs-up mr-4"
                    (click)="onLikeClick(video.getUUId(), i)"></i>
                <button *ngIf="!searchedVideo.getSubscribe(i)"
                        style="padding: 18px 32px; font-size: 16pt;"
                        type="button"
                        [disabled]="searchedVideo.getIsSubscribable(i)"
                        class="btn btn-outline-danger"
                        (click)="onSubscribeClick(video.getChannelUUId(), i)">Subscribe</button>
                <button *ngIf="searchedVideo.getSubscribe(i)"
                        style="padding: 18px 32px; font-size: 16pt;"
                        type="button"
                        [disabled]="searchedVideo.getIsSubscribable(i)"
                        class="btn btn-outline-danger"
                        (click)="onSubscribeClick(video.getChannelUUId(), i)">Unsubscribe</button>
              </div>
              <input type="text" style="display: inline-block;" class="form-control w-50" placeholder="Comment" [(ngModel)]="searchedVideo.getComments()[i]">
              <input  class="btn btn-outline-primary btn-lg mb-1"
                      type="button"
                      value="Save"
                      (click)="onCommentSave(video.getUUId(), i)">
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-3 text-center">
        <h5>Advertisements</h5>
        <div>
          <img style="border-radius: 8px;" src="../../assets/adsPlaceholder.jpg" class="img-thumbnail mb-5">
          <img style="border-radius: 8px;" src="../../assets/adsPlaceholder.jpg" class="img-thumbnail">
        </div>
    </div>
  </div>
</div>
