<div class="container">
    <div class="row">
      <div class="col">
        <div>
          <h3>Channel subscribed</h3>
          <div class="container-fluid">
            <div class="row flex-row flex-nowrap">
              <div *ngFor="let channel of myChannelList">
                <div  class="card ml-3"
                      style="width: 5vw; padding: 1px; cursor: pointer; border-radius: 4px;"
                      (click)="onChannelClick(channel.chUUID)">
                  <img src="../../../assets/USER-LOGO.png" class="card-img-top">
                  {{channel.chUUID | slice:0:5}}...
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="readyMyVideos">
          <h3>My videos</h3>
          <ul class="list-group">
            <div *ngFor="let video of myVideos.getVideos(); let i = index" [attr.data-index]="i">
              <li class="list-group-item mr-2"
                  style="border-radius: 4px;"
                  alt="ciao"
                  (click)="onVideoClick(video.getUUId(), i)">
                  {{video.getTitle()}}
              </li>
              <div *ngIf="myVideos.getVideoInfo(i)">
                <div class="videoStyle">
                  <img  src="../../assets/video3.png"
                        style="width:38vw;height:44vh;"
                        class="img-fluid"
                        [title]="video.getDescription()">
                  <div style="margin-bottom: 8px;">
                    <i  [ngStyle]="{color: myVideos.getLike(i)}"
                        class="fas fa-thumbs-up mr-4"
                        (click)="onLikeClick(video.getUUId(), i)">
                    </i>
                  </div>
                  <input type="text" style="display: inline-block;" class="form-control w-50" placeholder="Comment" [(ngModel)]="myVideos.getComments()[i]">
                  <input  class="btn btn-outline-primary btn-lg mb-1"
                          type="button"
                          value="Save"
                          (click)="onCommentSaves(video.getUUId(), i)">
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" placeholder="Video title" [(ngModel)]="videoTitle">
        <textarea class="form-control mt-2" placeholder="Video description" rows="3" [(ngModel)]="videoDescription"></textarea>
        <button style="padding: 18px 32px; font-size: 16pt;"
                type="button"
                class="btn btn-outline-danger mt-4"
                (click)="uploadVideo()">
                Load video
        </button>
      </div>
    </div>
  </div>
