<div class="backdrop"></div>
<div class="win-box">
  <div class="text-center">
    <h3>Create an account</h3>
  </div>
  <div>
    <div class="form-group">
      <input class="form-control input-md"
      type="text"
      style="width: 85%; margin: auto;"
      [(ngModel)]="username"
      (keydown.enter)="onRegisterClick()"
      (keydown.esc)="onCancelClick()"
      autofocus placeholder="Username">
    </div>
    <div class="form-group">
      <input class="form-control input-md"
      type="password"
      style="width: 85%; margin: auto;"
      [(ngModel)]="password"
      (keydown.enter)="onRegisterClick()"
      (keydown.esc)="onCancelClick()"
      autofocus placeholder="Password">
    </div>
    <div style="margin-left: 7.5%;">
      <button type="submit" class="btn btn-primary mr-2" (click)="onRegisterClick()">Sign up</button>
      <button class="btn btn-danger" (click)="onCancelClick()">Cancel</button>
    </div>
  </div>
</div>
