/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body {
  margin: 0;
  height: 100%;
}

i:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}

.btnLogin {
  padding: 8px;
}

* {
  font-family: 'Lato', sans-serif;
}
